<h1>Listado de productos en el carro</h1>
<p>Total del carro: <%= @totalamount %> CLP</p>
<p>Estado del carro: <%= @cart.state %></p>
<% if @cart.state != "PAID" %>
	<%= link_to 'Generar PAGO', user_cart_payments_path(@user.id,@cart.id), class:'btn btn-info',  method: :post%>
<% end %>

<table class="table table-striped table-condensed table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Categoria</th>
			<th>Precio</th>
			<% if @cart.state != "PAID" %>
				<th>Acción</th>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<% @orders.each do |o| %>
			<tr>
				<td><%= o.product.name %></td>
				<td><%= o.product.category.name %></td>
				<td><%= o.product.price %></td>
				<% if @cart.state != "PAID" %>
					<td><%= link_to 'Quitar del carro', product_order_path(o.product.id,o.id), class:'btn btn-danger', method: :delete %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>	
</table>


